.env
apidocgen


# Frontend build artifacts
web/node_modules/
web/dist/

# Los archivos de proyecto y docs si se versionan:
# projects/*.json  -> configuracion de cada documentacion
# docs/*.html      -> HTML generado + index.html
