.env
*.html 
*.json

# Los json propios deberia de subirse al repo para que no se generen cada vez que se genera la documentación y no llamar a la API de Claude cada vez.

# Adapatar el .gitignore de acuerdo al proyecto.